<h2>{{title}}</h2>
<form id="login-user" action="/loginUser" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <button type="submit">Login</button>
</form>
<form id="create-user" action="/createUser" method="POST">
  <label for="new-username">New Username:</label>
  <input type="text" id="new-username" name="new-username" required>
  <button type="submit">Create</button>
</form>